---
import Badge from "../components/Badge.astro";
import Layout from "../layouts/Layout.astro";
import LinkedIn from "../components/icons/LinkedIn.astro";
import SocialPill from "../components/icons/SocialPill.astro";
import GitHub from "../components/icons/GitHub.astro";
import MailTo from "../components/icons/Mail.astro";
import Resume from "../components/icons/Resume.astro";

import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import BriefCase from "../components/icons/BriefCase.astro";
import Code from "../components/icons/Code.astro";
import Projects from "../components/Projects.astro";
import Footer from "../components/Footer.astro";
import Acordition from "../components/Acordition.astro";
import TypedAnimation from "../components/TypedAnimation.astro";
---

<Layout title="Portfolio de David- Desarrollador y Programador Web">
  <main class="px-4 w-[400px] mx-auto lg:w-auto">
    <SectionContainer class="h-auto" id="inicio">
      <span class="flex flex-col items-start">
        <h1
          class="text-white text-3xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-5"
          data-scroll-reveal
        >
          <TypedAnimation />
        </h1>
        <a
          href="https://www.linkedin.com/in/david-condori-aguilar/"
          class="flex justify-center items-center py-4"
          target="_blank"
          rel="noopener"
        >
          <Badge />
        </a>
      </span>

      <h2 class="text-[16px] lg:text-[21px] text-pretty" data-scroll-reveal>
        Desarrollador web. De Lima Perú <span class="text-yellow-200/90"
          >Mi objetivo es ofrecer resultados atractivos</span
        >,seguros y escalables para cada proyecto en el que trabajo. <span
          class="text-red-200/90">Ya sea que esté desarrollando</span
        > o creando interfaces de usuario atractivas.
      </h2>

      <nav
        class="flex flex-wrap gap-y-3 gap-x-2 lg:gap-x-4 mt-10 py-4 lg:py-14 w-auto lg:w-full"
        data-scroll-reveal
      >
        <SocialPill href="https://www.linkedin.com/in/david-condori-aguilar/">
          <LinkedIn class="size-6 text-white" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/DavidCondoriAguilar">
          <GitHub class="size-6 text-white" />
          GitHub
        </SocialPill>
        <SocialPill href="mailto:davids.condori.aguilar@gmail.com">
          <MailTo class="size-6 text-white" />
          Gmail
        </SocialPill>
        <SocialPill
          href="https://drive.google.com/drive/folders/19ewA4QhvjsmLUTyxkDDaihu-xVlc86qU?usp=sharing"
        >
          <Resume class="size-6 text-white" />
          Resume
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer class="" id="experiencia" data-scroll-reveal>
      <h2
        class="text-2xl font-semibold py-5 flex gap-x-2 items-center"
        data-scroll-reveal
      >
        <BriefCase class="size-7" data-scroll-reveal />
        Estudios
      </h2>
      <Experience data-scroll-reveal />
    </SectionContainer>

    <SectionContainer class="" id="proyectos" data-scroll-reveal>
      <h2
        class="text-2xl mb-14 font-semibold data-scroll-reveal flex gap-x-2 items-center"
        data-scroll-reveal
      >
        <Code class="size-7" data-scroll-reveal />
        Proyectos
      </h2>
      <Projects />
    </SectionContainer>

    <!-- <SectionContainer  data-scroll-reveal>
      <Acordition/>
    </SectionContainer> -->

  </main>
  <Footer />
</Layout>

<script>
  import ScrollReveal from "scrollreveal";

  ScrollReveal().reveal("[data-scroll-reveal]", {
    delay: 200,
    distance: "50px",
    origin: "bottom",
    easing: "ease-in-out",
    interval: 100,
  });
</script>

<style></style>
