---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "Abril 2022 - Actualidad",
    title: "Estudiante en ISIL, Lima, Perú",
    description:
      "Sumergido en el mundo del Desarrollo de Software en ISIL, cada día aprendo a construir soluciones tecnológicas innovadoras, transformando teoría en práctica y enfrentando desafíos que fortalecen mi camino como futuro profesional en tecnología.",
    link: "https://isil.pe/areas-academicas/desarollo-de-software/",
  },
  {
    date: "Julio 2022 - Diciembre 2022",
    title: "Experiencia en Madada, Lima, Perú",
    description:
      "Participé en Madada, una emocionante experiencia en un entorno tecnológico, donde colaboré con mentores inspiradores, absorbí conocimientos valiosos y me sumergí en la realidad de la industria, creciendo como estudiante y futuro profesional.",
    link: "https://madada.org/",
  },
  {
    date: "Agosto 2022 - Actualidad",
    title: "Aprendizaje en Udemy",
    description:
      "Explorando Udemy, cada curso es una ventana al futuro digital. A través del aprendizaje autodidacta continuo en programación frontend, desarrollo mi creatividad y habilidades técnicas para ser un profesional preparado en el mundo tecnológico.",
    link: "https://www.udemy.com/",
  },
];

---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCE.map((experiencie) => (
      <li class="mb-10 ms-4" data-scroll-reveal>
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
